# Un-comment something to enable it, vise varsa.
#USER_IS_GOD=TRUE
USER_LIVES-TOGETHER=TRUE 
#DISABLE_GUI=TRUE
ENABLE_GUI=TRUE
#MEDIUM-MAX=TRUE
#That one (^) is bad
MEDIUM-NORMAL=TRUE
#OS-OWNER=TRUE 
#ONLY UN-LESS YOU INSTALL THE FILES AND STUFF ENABLE THIS TO LIVEBOOT (^)
ASCII_ART=TRUE
#LANG=BASH -linux, only if OS-owner is disabled
#LANG=BATCH -windows , only if OS-owner is disabled
#LANG=ZSH -Warp, only if OS-owner is disabled
# Pick one on your requierments
#if none is provided it'll defualt to bin files
#USE_DEFUALTS=TRUE

